body {
  background-color: lightgray;
  font-family: sans-serif;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
  text-transform: capitalize;
}
#districts-table {
  display: none;
}
table caption {
  font-weight: bold;
  font-size: xx-large;
  padding: 10px;
}
table th {
  font-size: 1em;
}
#states-table tr:nth-child(even):not(.table-headers) {
  background-color: rgb(255, 252, 248);
}
#districts-table tr:nth-child(even):not(.table-headers) {
  background-color: rgb(255, 252, 248);
}
.table-headers {
  background-color: rgb(199, 199, 199);
}

#back {
  font-size: x-large;
  display: none;
  padding: 10px;
  margin: 10px auto;
}
